# ==========================
# Compiled class files
# ==========================
*.class

# ==========================
# Log files
# ==========================
*.log

# ==========================
# Eclipse files
# ==========================
.metadata/
.settings/
*.launch

# ==========================
# Build folders
# ==========================
bin/
/target/
/out/

# ==========================
# OS files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDE (Optional)
# ==========================
.idea/
.vscode/

# ==========================
# Temporary files
# ==========================
*.tmp
*.bak
